<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Board Game Geek</h2>

    <p>This is one of the game from the database</p>

        <p>Game Name: {{r_game_name}}</p>
        <p>Game ID: {{r_game_id}}</p>
        <p>Max Players: {{r_max_players}}</p>
</body>
</html>


        <!-- <label>Game ID</label>
        <input type="number" placeholder=15 value=15>

        <label>Name</label>
        <input type="text" placeholder="Name" value="Contatos Cosmicos">
    
        <label>Max Players</label>
        <input type="number" placeholder="6" value="6">

    </form> -->
</body>
</html>